{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ video.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <p>{{ video.key }}</p>
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ video.description }}</p>
        <br>
        <h5>Create On:</h5>
        <p>{{ video.created_on.date }} &nbsp;
        </p>
        <br>
        <h5>Categories:</h5>
        {% for category in video.categories.all %}
        <a href="{% url 'video_category' category.Category_name %}">
            {{ category.Category_name }}
        </a>&nbsp;
        {% endfor %}
    </div>
</div>
{% endblock %}